@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.75rem;
}

h1{
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom:  0.75rem;
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
        line-height: 1;
    }
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

#valor {
    font-size: 6rem;
    font-weight: bold;
}

.botao {
    text-transform:  uppercase;
    background: transparent;
    color: #222;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 0.5rem;

}

.botao:hover {
    color: #fff;
    background: #222;
}